#legend {
  float:left;
  width: 150px;
}
#svgelem {
  float:left;
}
.distributionPoint {
  fill:red;
  r:5;
}
.point {
  fill:black;
  r:2;
}
.path {
  stroke:#D07735;
  stroke-width:1;
  fill-opacity:0;
}
.path:nth-of-type(1) { stroke: #e6194b; }
.path:nth-of-type(2) { stroke: #3cb44b; }
.path:nth-of-type(3) { stroke: #ffe119; }
.path:nth-of-type(4) { stroke: #0082c8; }
.path:nth-of-type(5) { stroke: #f58231; }
.path:nth-of-type(6) { stroke: #911eb4; }
.path:nth-of-type(7) { stroke: #46f0f0; }
.path:nth-of-type(8) { stroke: #f032e6; }
.path:nth-of-type(9) { stroke: #d2f53c; }
.path:nth-of-type(10) { stroke: #fabebe; }
.path:nth-of-type(11) { stroke: #008080; }
.path:nth-of-type(12) { stroke: #e6beff; }
.path:nth-of-type(13) { stroke: #aa6e28; }
.path:nth-of-type(14) { stroke: #fffac8; }
.path:nth-of-type(15) { stroke: #800000; }
.path:nth-of-type(16) { stroke: #aaffc3; }
.path:nth-of-type(17) { stroke: #808000; }
.path:nth-of-type(18) { stroke: #ffd8b1; }
.path:nth-of-type(19) { stroke: #000080; }
.path:nth-of-type(20) { stroke: #808080; }
.path:nth-of-type(21) { stroke: #000000; }
